html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#__next{
  height: 100%;
}
.h-80{
  min-height: 89vh;
}
@media (max-width: 768px) { 
  .limitNavHeight{
    max-height: 100px;
  }
}
@media (min-width: 768px) { 
  .limitNavWidth{
    width: 50px !important;
  }
}
.fullSizeImg{
  width: 100%;
}
.ceroPadding{
  padding-left: 0% !important;
  padding-right: 0% !important;
}